export(boxPlate)
export(densityPlate)
import(Biobase)
export(displayPlate)
export(getPosition)
export(getCelFilePosition)
export(plot.ahullS)
export(MAPlate)
import(affyPLM)
export(plmPlate)
export(statisticPlate)
